.experience-background {
  display: flex;
}

.timeline-background {
  width: 50%;
}

.timeline-item {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.timeline-title {
    vertical-align: middle;
    margin: 0px auto;

}

.timeline-item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  background-color: cornflowerblue;
}

.timeline-ball {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: crimson;
}

.experience-info {
  padding: 24px;
  font-size: 10pt;
}

.experience-info h4,
p {
  margin: 0;
}

.highlight-background {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100%);
  background: rgba(255,0,0,0.4);
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.empty-background {
    width: 80%;
    margin: 32px;
}

.highlight-background h1,
h4,
p {
    margin: 0px;
    margin-top: 10px;
}

.highlight-background p {
    align-self:flex-start;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
    line-height: 32px;
}

.highlight-background h2{
    margin: 0px;
}

.title2{
    font-style: italic;
}

.break{
    height: 48px;
}

.involvement-category{
    color: darkblue;
    font-size: 30px;
}