.intro-background {
    display: flex;
    align-content: center;
    justify-content: center;
}

.view-button {
    display: flex;
    width:100%;
    color: black;
    justify-content: center;
    text-align: center;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.view-button:hover {
    background-color:rgba(0,0,185,0.2);
}

.image-panel {
    display: flex;
    padding: 10px;
    width: 32%;
    justify-content: left;
}

.intro-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    padding: 3%;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item h1 {
    font-size: 72px;
}

.intro-item p {
    font-size: 24px;
}

.intro-item p {
  margin: 8px 0;
}

.intro-picture {
    width: 100%;
    height: 440px;
    box-shadow: rgba(0,0,0,0.3) 4px 4px;
}
