.intro-background {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.view-button {
    display: flex;
    width: 100%;
    color: black;
    border: 4px solid red;
    height: 120px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.intro-item {
    display: flex;
    flex: 1;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item p {
  margin: 8px 0;
}

.intro-picture {
  width: 40%;
  height: 100%;
}
